.p {
    font-weight: 700;
    background-image: url('babypraying.jpg');
}

/* rule 1 */
.subsection {
    color: blue;
  }
  
  /* rule 2 */
  .main .list {
    color: red;
  }

  /* rule 1 */
#subsection {
  background-color: yellow;
  color: blue;
}

/* rule 2 */
.main1 #subsection {
 color: red;
}

/* rule 1 */
.class.second-class {
  font-size: 12px;
}

/* rule 2 */
.class .second-class {
  font-size: 24px;
}

table, th, td {
  border: 1px solid black;
  border-radius: 10px;
  border-color: blue;
}

.flex-container {
  /* display: flex; */
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  padding: 12px;
  justify-content: center;
  height: 100px;
  display: flex;
}

.flex-item div {
  background: peachpuff;
  border: 4px solid blue;
  padding: 8px;
  justify-content: center;
  height: 70px;
  flex: 1;
  margin: 4px;
}

.column1 div {
  background: peachpuff;
  border: 4px solid blue;
  padding: 8px;
  justify-content: center;
  height: 40px;
  flex: 1;
  margin: 4px;
}

.flex-item2 div {
  background: peachpuff;
  border: 4px solid rgb(0, 255, 55);
  padding: 8px;
  justify-content: center;
  height: 70px;
  flex: 1;
  margin: 4px;
}

.column2 {
 display: flex;
}

.column2 div {
  background: peachpuff;
  border: 4px solid blue;
  height: 40px;
  flex: 1 1 0%;
}

.column2 .sixth {
  flex: 2 1 0%;
}

.column2 .nineth {
  flex: 2 1 0%;
}

.block div {
  background: peachpuff;
  border: 2px solid rgb(255, 0, 0);
  padding: 2px;
  justify-content: center;
  height: 30px;
  flex: 1;
  margin: 4px;
}

.column3 div {
  background: rgb(185, 255, 208);
  border: 4px solid rgb(255, 0, 0);
  padding: 2px;
  justify-content: center;
  height: 70px;
  flex: 1;
  margin: 4px
}  

.phase1 div {
  background: rgb(206, 185, 255);
  border: 2px solid rgb(17, 179, 57);
  padding: 2px;
  justify-content: center;
  height: 60px;
  flex: 1;
  margin: 4px
}

.flex2 {
  flex-direction: column; 
}

.flex2 div {
  background: rgb(24, 13, 4);
  border: 2px solid blue;
  padding: 0px;
  height: 100px;
  flex: 1 1 0%;
  margin: 0px
}

